<div class="card">
	<div class="card-body">
		<h1>Sobre la Aplicación Web</h1>
		<p>Desarrollada en ambiente NodeJS, utilizando las siguientes:</p>
		<p class="fw-bold">Dependencias de Produción</p>
		<ol>
			<li>
				<span class="fw-bold">bcrypt</span>: Una biblioteca para ayudarte a
				codificar contraseñas.
			</li>
			<li>
				<span class="fw-bold">connect-flash</span>: El flash es un área especial
				de la sesión que se utiliza para almacenar mensajes.
			</li>
			<li>
				<span class="fw-bold">express</span>: Framework web minimalista, rápido
				y sin opiniones para node.
			</li>
			<li>
				<span class="fw-bold">express-handlebars</span>: Un motor de
				visualización de vistas para Express.
			</li>
			<li>
				<span class="fw-bold">express-session</span>: Middleware de sesión
				simple para Express
			</li>
			<li>
				<span class="fw-bold">method-override</span>: Le permite usar verbos
				HTTP como PUT o DELETE en lugares donde el cliente no lo admite.
			</li>
			<li>
				<span class="fw-bold">mongoose</span>: Mongoose es una herramienta de
				modelado de objetos MongoDB diseñada para trabajar en un entorno
				asíncrono. Mongoose admite tanto promesas como devoluciones de llamada.
			</li>
			<li>
				<span class="fw-bold">passport</span>: Autenticación simple y discreta
				para Node.js.
			</li>
			<li>
				<span class="fw-bold">passport-local</span>: Estrategia de autenticación
				de nombre de usuario y contraseña local para Passport.
			</li>
		</ol>
		<p class="fw-bold">Dependencia de Desarrollado</p>
		<ul>
			<li>
				<span class="fw-bold">Nodemon</span>: Script de monitor simple para usar
				durante el desarrollo de una aplicación Node.js.
			</li>
		</ul>
	</div>
</div>