<div class="pb-3 mb-4 bg-light rounded-3">
	<div class="container-fluid py-5">
		<h1 class="display-5 fw-bold">App Notas usando Nodejs y MongDB</h1>
		<p class="col-md-10 fs-4">Lorem ipsum dolor sit, amet consectetur
			adipisicing elit. Temporibus vero quas ipsam recusandae soluta earum harum
			debitis quia. Sequi ut harum reprehenderit blanditiis dicta quam at optio,
			obcaecati nulla. Nihil, voluptate? Voluptatibus excepturi quas eveniet
			iusto, laudantium eligendi ducimus placeat ex voluptate cumque, earum qui
			architecto eos nemo officiis asperiores?</p>
	</div>
</div>