<div class="row">
	<div class="col-md-4 mx-auto">
		<div class="card">
			<div class="card-header">
				<h1 class="text-center">Iniciar Sesión</h1>
			</div>
			<div class="card-body">
				<form action="/users/signin" method="post">
					<div class="mb-3">
						<input
							type="email"
							class="form-control"
							name="email"
							placeholder="Tu correo"
							autofocus
						/>
					</div>
					<div class="mb-3">
						<input
							type="password"
							name="password"
							placeholder="Tu contraseña"
							class="form-control"
						/>
					</div>
					<div class="mb-3">
						<button type="submit" class="btn btn-primary">
							Iniciar Sesión
						</button>
					</div>
				</form>
				<p>¿No tienes cuenta? -
					<a href="/users/signup">genera una cuenta</a></p>
			</div>
		</div>
	</div>
</div>